.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-tabs-1 {
  min-height: 418px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-item-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0 95px;
}

.u-section-1 .u-text-2 {
  margin: -24px auto 0 258px;
}

.u-section-1 .u-text-3 {
  margin: -24px 442px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -24px auto 0 430px;
}

.u-section-1 .u-text-5 {
  margin: -24px 330px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -24px 145px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 181px;
  margin: 0 54px 0 82px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 975px 0 13px;
}

.u-section-1 .u-text-8 {
  margin: -24px auto 0 314px;
}

.u-section-1 .u-text-9 {
  margin: -24px 243px 0 auto;
}

.u-section-1 .u-form-2 {
  height: 181px;
  margin: 0 150px 0 0;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
}

.u-section-1 .u-form-group-23 {
  margin-left: 0;
}

.u-section-1 .u-form-group-24 {
  margin-left: 0;
}

.u-section-1 .u-form-group-25 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -556px 13px 511px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 355px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 252px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 788px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 256px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 272px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 568px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 192px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 149px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 428px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 151px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 204px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 53px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 91px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -285px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 228px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 88px;
  }
}